<!DOCTYPE html>
<html>

<head>
  <title>
    YTDL
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <main class="container">
    <form action="/convert" method="POST">
      <% if(errors) {%>
      <p class="error">
        <%= errors.error %>
      </p>
      <%}%>
      <div>
        <input type="url" name="youtubeURL" id="youtubeURL" required placeholder="https://youtube.com/?v=">
        <button class="btn" type="submit">Download</button>
      </div>
    </form>
  </main>
</body>

</html>